@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.activeLink{
  color:  lightseagreen;
}
.pendingLink{
  color: white;
}


/* 404 page */
#notfound {
  height: 100vh;
  background-color: #222;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound {
  max-width: 460px;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 158px;
}

.notfound .notfound-404 h1 {
  font-family: josefin sans,sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  font-weight: 700;
  text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0 #ffab00, -2px -2px 0 #3c6644, 0 0 8px #ff8700;
}

.notfound p {
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 75px;
  margin-bottom: 22px;
}
.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: 0 0;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: .2s all;
  transition: .2s all;
}